@{
    ViewData["Title"] = "About Web Project";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<h2 class="text-dark text-center mb-5 mt-3">Phát triển phần mềm hướng dịch vụ khóa D18</h2>

<h3 class="text-primary my-3">Web được thực hiện bởi nhóm 9</h3>
<ul>
    <li>N18DCCN040 - Nguyễn Hải Đăng</li>
    <li>N18DCCN010 - Vũ Tuấn Anh</li>
    <li>N18DCCN106 - Bùi Phi Long</li>
    <li>N18DCCN001 - Mai Thiên An</li>
    <li>N17DCCN175 - Nguyễn Phạm Nhật Minh</li>
</ul>
